@define-color background rgba(0, 0, 0, 0);
@define-color waybarBg rgba(38,38,38,0.3);
@define-color foreground      #cdd6f4;
@define-color surface         #1e1e2e;
@define-color inactive        #1e1e2e;

@define-color accent_orange   #fab387;
@define-color accent_green    #a6e3a1;
@define-color accent_blue     #89b4fa;
@define-color accent_critical #f38ba8;
/* 
.modules-left {
  background-color: #031c00;
  border: 2px solid #89b4fa;
  color: #89b4fa;
}

.modules-center {
  background-color: #031c00;
  border: 2px solid #cba6f7;
  color: #cba6f7;
}

.modules-right {
  background-color: #031c00;
  border: 2px solid #fab387;
  color: #fab387;
}

#workspaces * {
  color: #cba6f7;
} */

#battery.charging,
#battery.plugged {
  color: @accent_green;
}

#battery.warning:not(.charging) {
  color: @accent_orange;
}

#battery.critical:not(.charging) {
  color: @accent_critical;
}

#pulseaudio.muted {
  color: @accent_critical;
}

#network.disconnected {
  color: @accent_critical;
}

tooltip {
  border-radius: 10px;
  background-color: #2c3245;
  border: 1px solid @inactive;
}

tooltip label {
  color: @foreground;
}

#custom-screenrecording-indicator.active {
  color: #cba6f7;
}
